* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(220, 220, 243);
}

a {
  color: blueviolet;
}

p {
  max-width: 20cm;
  margin-bottom: 1cm;
}

li {
  margin-bottom: 1cm;
}


button {
  font-family: "Montserrat", sans-serif;
  background-color: deeppink;
}
